
.Projects {
  background-color: var(--tds-blue);
}

.Home-ProjectsContainer {
  padding-top: 3em;
  padding-bottom: 3em;
}

.Projects .headline {
  color: white;
}

.Home-ProjectsLayer {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.ProjectCard {
  padding: 1em;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  width: 33%;
}

.ProjectCard-title {
  color: var(--tds-black);
}

.ProjectCard-description {
  color: var(--tds-black);
}